a{
	color: yellow;
	text-decoration: none;
}

/* Para cambiar el color de un link visitado anteriormente */
a:visited{
	color: #6B08BF;
}

/*Cambiar estilo al posicionarse sobre un link*/
a:hover{
	background-color: #CCC;
}

body{
	background-image:radial-gradient(circle,#FFFFFF, #B2D4FB);
	margin:0;
	padding:0;
	font-family:Cambria,times,sans-serif;
}

form{
	padding: 20px 20px;
}

h1,h2,h3,h5,h5{
	color: #B00000;
}

img{
	max-width: 20%;
}

input{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

/*aplicar cuando el puntero se enfoque a un input*/
input:focus{
	border-color:#00FF24;
}

#body{
	width: 1200px;
	height: 800px;
	float: right;
	/*background-image:linear-gradient(#77DCFD, #1F52F7);*/
}

#cars-menu{
background: -moz-linear-gradient(top,  rgba(0,110,46,0.5) 0%, rgba(0,110,46,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,0.5)), color-stop(100%,rgba(0,110,46,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,110,46,0.5) 0%,rgba(0,110,46,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,110,46,0.5) 0%,rgba(0,110,46,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,110,46,0.5) 0%,rgba(0,110,46,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,110,46,0.5) 0%,rgba(0,110,46,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80006e2e', endColorstr='#80006e2e',GradientType=0 ); /* IE6-9 */

	width: 200px;
	height: 500px;
	/*background-image:linear-gradient(white, yellow);*/
}

#container{
	background-color: transparent;
	margin: auto;
	width: 1200px;
	height:1000px;
	/*background-image:linear-gradient(#AAAAAA, #AAABFF);*/
}

#footer{
	border-radius: 15px;
	width: 1200px;
	height: 100px;
	float: right;
	background-image:linear-gradient(yellow, red);
}

#header{
	width: 1200px;
	height: 100px;
	float: left;
	background-image:linear-gradient(yellow, green);
}

#log-in{
	font-size: 15px;
	width: 400px;
	height: 300px;
	margin: auto;
	text-align: center;
	background-image:linear-gradient(green, yellow);
}

#parte-1{
	float: left;
	width: 200px;
}

#parte-2{
	float: left;
	width: 1000px;
}

#promocion{
	margin-left: 30px;
	margin-right: 30px;
}

#registrarse{
	font-size: 15px;
	width: 300px;
	height: 400px;
	margin: auto;
	text-align: center;
	background-image:linear-gradient(green, yellow);
}

#welcome{
	text-align: center;
}

.welcomeImg{
	max-width: 50%;
}

.button{
	padding: 8px 8px;
	border-style: none;
	background-color: #0084FF;
	color: white;
	margin-top: 10px;
}

.cars-menu{
	padding-top: 5px;
	text-align: justify;
	list-style-type: none;
}

.column-footer{
	/*background-image:linear-gradient(#60FF63, #47BA49);*/
	float: left;
	width: 400px;
	height: 100px;
	text-align: center;
}

.combo-box{
	color: black;
}

.espacio{
	padding-left: 50px;
	padding-right: 50px;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-left: 10px;
}

.menu{
	border-radius: 5px;
	text-align: center;
	width:1200px;
	height:25px;
	background-image:linear-gradient(#60FF63, #47BA49);
}

.title-one{
	background-color: white;
	padding: 10px 10px;
	color: black;
}
